streamlit
numpy
pandas
matplotlib
seaborn
firebase-admin
google-cloud-firestore
requests
xlsxwriter
python-dotenv
google-cloud-storage
google-cloud-core
google-auth
google-auth-oauthlib
google-auth-httplib2
python-dateutil
